<div>
	<div class="row">
		<div class="col-md-8">
			<textarea id="code-screen"></textarea>
    	</div>
    	<div class="col-md-4" id="chatbox">
 			<div class="panel panel-primary>
 				<!-- VIDEO CALL -->
 				<div id="video-container">
 					<video autoplay id="second-video"></video>
    				<video autoplay id="my-video" muted="true"></video>
    				<div id="step2">
    					<p>Your ID: <span id="my-id">...</span></p>
						<div class="form-inline">
							<input type="text" class="form-control" placeholder="Call User ID..." id="callto-id">
							<a href="#" class="btn btn-sm btn-success" id="make-call">Call</a>
						</div>
    				</div>
    				<div id="step3">
            				<p>Talk to <span id="second-id">...</span>
        					<a href="#" class="btn btn-sm btn-danger" id="end-call">End call</a>
            			</p>
					</div>
 				</div>

 				<!-- CHAT ROOM -->
 				
 			</div>
    	</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js"></script>

<script>
	var editor = CodeMirror..fromTextArea(document.getElementById("code-screen"), {
    	lineNumbers: true,
    	theme: "monokai"
 	});
</script>